app-header{
    position: fixed;
    width:100%;
    top:0px;
    height:4rem;
    z-index:2;
}

main{
    position: absolute;
    width:100%;
    top:4rem;
    z-index:1;
}

app-side-nav{
    position: absolute;
    left:0rem;
    width: 60px;
    height:calc(100vh - 4rem);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: rgba(34, 34, 34, 1);
    border-top: 1px solid white;
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;
}

.app-side-nav-open{
width:250px;
}

.display-area{
position: absolute;
left: 60px;
width: calc(100% - 60px);
transition: left 250ms ease-in, width 250ms ease-in;

}

.display-area-shrink{
    width: calc(100% - 250px);
    left: 250px;
}
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: black;
    display: flex;
    
}
@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0); /* Start and end position: no vertical movement */
    }
    50% {
      transform: translateY(-20px); /* Middle position: move up by 20 pixels */
    }
  }
  
  .img-fluid.animated {
    animation: moveUpDown 2s ease-in-out infinite; /* Adjust the duration and timing function as needed */
  }

img, svg {
    vertical-align: middle;
    align-items: center;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    align-items: center;
    display: flex;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.home-animated{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}

